body {
    text-align: center;
    background: #1e87f5
    color: #fff;
}

/*GAME DASHBOARD--------------------------------------------------*/
.game-stats {
	width: 535px;
	padding-top: 16px;
	margin: 40px auto 0;
	display: flex;
	justify-content: space-between;
	background: #1e87f5;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 28%, #1e87f5 100%);
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 28%,#1e87f5 100%);
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 28%,#1e87f5 100%); 
	border-radius: 10px 10px 0 0;
}

.stat {
	flex: 1;
}

.stat p {
	margin: 0;
	padding: 0;
	font-family: 'Righteous', cursive;
	font-size: 3em;
	line-height: 0.8em;
	color: #ffffff;
	text-align: center;
}

.stat img {
	width: 50px;
	margin: 0 auto;

}

canvas {
	padding: 0px 15px 0;
	background: #1e87f5;
	background: -webkit-linear-gradient(#1e87f5 0%, #2989d8 72%, #1e5799 100%);
	background: -o-linear-gradient(#1e87f5 0%, #2989d8 72%, #1e5799 100%);
	background: linear-gradient(#1e87f5 0%, #2989d8 72%, #1e5799 100%);   
	border-radius: 0 0 10px 10px;
}

/*MODAL---------------------------------------------------------*/

.modal {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: 20vh;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

.modal-inner {
	background: #f7f7f7;
	margin: 0 auto;
	padding: 20px 40px;
	width: 70%;
	max-width: 800px; 
	border-radius: 20px;
	font-family: 'Righteous', cursive;
	color: #1e5799;

}

.modal-inner img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

button {
	margin: 30px auto;
	width: 200px;
	height: 50px;
	color: #1e5799;
	font-family: 'Righteous', cursive;
	font-size: 1.2em;
	background: none;
	border: 1px solid #1e5799;
	border-radius: 10px;
}

button:hover {
	background: #1e5799;
	color: #ffffff;
}

#replay {
	width: 300px;
}

.hide {
	display: none;
}